# Environment files
.env
.env.backup
.env.backup.*
.env.production

# System files
.DS_Store
Thumbs.db

# Logs
*.log

# IDEs
.idea
.vscode
.fleet
.zed
.phpactor.json

# Core (Backend) Ignored Files
efl_core/node_modules
efl_core/vendor
efl_core/.phpunit.cache
efl_core/phpunit.result.cache
efl_core/auth.json
efl_core/storage/*.key
efl_core/storage/pail

# Temporary files
efl_core/check_route.txt
efl_core/routes.txt
efl_core/update_env.php
efl_core/fix_env.php
/package-lock.json

# Public (Frontend) Ignored Files
/build
/assets
/hot
/storage
/index.html

# Ignore AI-generated markdown docs
*.md
